# Dependencies
node_modules

# Production
lib
dist

# Local files
*.local

yarn-debug.log*
yarn-error.log*

# Build-related files
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
